.gcloudignore
.git
.gitignore
node_modules/
**/node_modules/
venv/
**/venv/
.env
.env.local
.env.*.local
*.log
.pnpm-debug.log*
.npm
.DS_Store
dist/
build/
.next/
.serverless/
secrets/
*.key
*.json
!app.json
!package.json
!cloudbuild.yaml
!Procfile
!firebase.json
!firestore.indexes.json
!firestore.rules
!storage.rules
